.page{
	width :880px;
	margin : auto;
	font-size : 16px;
	font-family : 'Source sans Pro', Calibri ,Tahama, sans-serif:

}
.infophoto{
	
	height : 250px;
	}
.contact{
	float:right;
}	
.photo{
	margin : 150px;
	font-size : 100px;
}
.formations{
	
	}
.Titrefo{
	font-style: italic;
	
	text-align:"center";
	height : 140px;
	}

.form1{
	height : 250px;
	}

.info{
	
}


.date1{
	color :blue;
	float :right;
}

.form2{
	height : 150px;
	}
.meca{
	
}

.date2{
	color :blue;
	float: right;
}
.form3{
	height : 150px;
	}
	
	
.mote{
	
}
.date3{
	color :blue;
	float :right;
}
.Titreexp{
	font-style: italic;
	
	text-align:"center";
	height : 50px;
	}

.ex1{
	height : 250px;
	}
	
	
.dateex1{
	color :blue;
	float: right;
}
.bosch{
	float ;
}

.ex2{
	
	height : 180px;
	}
	
	
.dateex2{
	color :blue;
	float: right;
}
.usthb{
	float ;
}

.Titrcomp{
	font-style: italic;
	
	text-align:"center";
	height : 140px;
	}	

